// colors
$colors: (
  "primary": #08225f,
  "secondary": #0394fc,
  "success": #00b040,
  "white": #ffffff,
  "grey": #404040,
  "error": #f44336,
);

// breakpoints

$breakpoints: (
  "xs": 599px,
  "sm" 600px,
  "md": 900px,
  "lg": 1200px,
  "xl": 1800px
)

//  navbar
$navbar-height: 64px;

// container
$gutter: 32px;