// colors
$colors: (
  "primary": #08225f,
  "secondary": #0394fc,
  "success": #009166,
  "white": #ffffff,
  "grey": #404040,
  "error": #f44336,
);

// navbar
$navbar-height: 64px;

// container
$gutter: 32px;